/* body { */
  /* Old browsers */
/*   background: #574f50; */
  /* Chrome 10-25, Safari 5.1-6 */
/*   background: -webkit-linear-gradient(-45deg, #35577D, #141E30); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*   background: linear-gradient(-45deg, #35577D, #141E30);
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
} */
* {
  margin: 0;
  padding: 0;
}

body {
/*   color: #f7f2f3;  #9c8f91*/
  color: #e6e9ed;
  background: linear-gradient(to top, #141E30, #2a426e);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

header {
  height: 50px;
}

a {
  text-decoration: none;
  color: #677280;
  font-style: italic;
  font-weight: 500;
/*   color: #1e1f40; */
/*   color: #808080; */
}

h2, h3 {
  letter-spacing: 1.5px;
}

.naziv {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  max-width: 700px;
  margin: 0 auto;
}

.naziv p{
  letter-spacing: 5px;
  padding: 20px 0 20px 0;
}

.intro {
  text-align: justify;
  max-width: 700px;
  margin: 0 auto;
  line-height: 24px;
  padding: 20px 0 20px 0;
}

.calculation-station {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.coords-label {
  font-size: 18px;
  font-weight: 420;
  letter-spacing: 1.5px;
  padding: 10px;
}

input {
  width: 20%;
  margin: 0 auto;
  padding: 5px 0;
}

.buttons {
  padding: 20px;
  max-width: 700px;
}

button {
  width: 100px;
  height: 25px;
  display: block;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border-radius: 5%;
}

.results-station {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 0 0 30px 0;
}

hr {
  border: 1px dashed #e6e9ed;
  width: 50%;
  margin: 0 auto;
}

.about-coords {
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
  line-height: 20px;
  padding: 30px 0;
}

.about-project {
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
  line-height: 20px;
  padding: 30px 0;
}

.read-more {
  max-width: 700px;
  margin: auto;
  text-align: justify;
  line-height: 20px;
  padding: 30px 0;
}

footer {
  max-width: 700px;
  margin: auto;
  text-align: center;
  height: 100px;
  padding: 20px 0 0 0;
}

footer p {
  letter-spacing: 1.5px;
}

 div::after {
  content: "";
  display: table;
  clear: both;
} /* follow up on this one*/
